<%= form_with url: "/authors/#{@author.id}", method: :patch, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :awards %>
    <%= form.text_field :awards %>
  </p>
  <p>
    <%= form.label :deceased %>
    <%= form.text_field :deceased %>
  </p>

  <%= form.submit "Submit" %>
<% end %>