<header><%= link_to "#{@author.name} Books", "/authors/#{@author.id}/books" %></header>
<h1><%= @author.name %></h1>
<p>Deceased: <%= @author.deceased? %></p>
<p>Awards: <%= @author.awards %></p>
<p>Books Written: <%= @author.count_books %></p>
<p>Created At: <%= @author.created_at %></p>
<p>Updated At: <%= @author.updated_at %></p>